.header{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: rgb(19, 19, 19) ;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__logo{
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.nav__links{
    display: none;
}

.nav__bars{
    height: var(--size-5xl);
    width: var(--size-5xl);
    color: #fff;
}

 /* xs */
 /* @media (min-width:475px) {

} */

 /* sm */
/* @media (min-width:640px) {

} */

 /* med */
@media (min-width:768px) {
    .nav__links{
        display: flex;
        align-items: center;
        gap: 1em;
        list-style-type: none;
    }
    
    .nav__cart,
    .nav__user{
        display: block; 
        color: #fff;
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .items__seperator{
        border: 1px solid #fff;
        height: 1.7rem;
    } 
    .nav__bars{
        display: none;
    }   
}

 /* lg */
/* @media (min-width:1024px) {

} */

 /* xl */
/* @media (min-width:1280px) {
} */

  /* 2xl */
/* @media (min-width:1536x) {

}  */