.header{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    background-color: rgb(18, 18, 18) ;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__logo{
    display: flex;
    align-items: center;
    gap: 0.3em;
}


.nav__links{
    display: flex;
    gap: 1em;
    list-style-type: none;
}

.nav__cart,
.nav__user{
    display: block !important; 
    color: #fff;
    height: 1rem;
    width: 1rem;
    border: 1px solid red;
}


.item__seperator{
    border-right: 1px solid #fff;
}
